@import "index.scss";

.button_temperature {
    border: none;
    border-radius: 8px;
    color: #ffff;
    background: $button-background;
    width: $button-width;
    font-family: lato;
    height: $button-height;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: $widget-box-shadow;
    & i {
        color: #64dfd4;
        font-size: 24px;
    }
    & h4 {
        margin: 0;
    }
}
