.navbar_sign_up {
    display: flex;
    justify-content: right;
    margin: 20px;
    border-radius: 2px;
}

.navbar_sign_up_button {
    color: #0E3551;
    background-color: #ADB7CE;
    border: none;
    width: 9.37rem;
    height: 1.875rem;
}