@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Road+Rage&display=swap');

form{
    // display: flex;
    margin: 3rem;
    border-radius: 1rem;
    border: rgba(222, 222, 222, 1) 0.1rem solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    max-width: 40rem;
    min-width: none;
    min-height: none;
    background-color: rgba(196, 196, 196, 0.24);
    color: rgba(196, 196, 196, 0.24);
    
    font-family: 'Lato', sans-serif;
}
.event__inputs{
    padding: 1rem;}

h1{
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: white;
}


.select__friend{
    width: 10rem;
}
.event__switch{
    font-size: 1.2rem;
    font-weight: bold;
}

.event__start__time{
    display: flex;
    // margin-left: 3rem;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.event__date__start__time{
    display: flex;
    justify-content: center;
    align-items:flex-end
}
.event__end__time{
    
    font-size: 1.2rem;
    font-weight: bold;
   
  vertical-align: middle;
}


.event__buttons{
    box-sizing: content-box;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    border-radius: 0 0 1rem 1rem;
    border-top: rgba(222, 222, 222, 1) 0.1rem solid;
   
    
    background-color: rgba(196, 196, 196, 0.44);
    background-size: cover;
 
}
.event__buttons__cancel{
    margin-left: 3rem;
   
}

