@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Road+Rage&display=swap');
@import "index.scss";

h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    color: rgba(35, 165, 173, 1);
    margin-left: 1rem;
    font-weight: bold;
}
i{
    color: black;
}
.main__container__appointment {
    font-family: lato;
    color: rgba(129, 129, 129, 1);
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    background: $main-background;
    width: 74.625rem;
    height: 52.125rem;
    display: flex;
    flex-direction:row ;
    align-self: center;
    z-index: -1000;

}
.event__inputs{
    padding: 1.5rem;
}


.main__appointment__form{
    width: 31.75rem;
    height: 37.7rem;
    margin: 3rem;
    background-color: rgba(196, 196, 196, 0.24);
    border-radius: 0.625rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    
    background-color: rgba(196, 196, 196, 0.24);
    justify-content: center;
    border: white solid 1px;

}
.appointment__input{
display: grid;
grid-template-columns: 0.2fr 1fr 2fr;
margin: 1rem;
}
* {
    box-shadow: none;
}
.appointment__friend{
display: grid;
grid-template-columns: 0.2fr 2fr;
margin: 1rem;
}
.appointment__friend__checkbox{
    display:flex;
    padding-left: 3rem;
}
.appointment__start{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1rem;
    padding-left: 2rem
}
.appointment__end{
    display: grid;
grid-template-columns:  2fr 1fr;
margin: 1rem;
padding-left: 2rem
}
.appointment__mail{
    display: grid;
grid-template-columns: 0.2fr 1fr 2fr;
margin: 1rem;
}
.appointment__alert{
    display: grid;
    grid-template-columns: 0.2fr 1fr 2fr;
    margin: 1rem;}
.appointment__location{
    display: grid;
    grid-template-columns: 0.2fr 1fr 2fr;
    margin: 1rem;
}
.appointment__notes{
    display: grid;
    grid-template-columns: 0.2fr 1fr 2fr;
    margin: 1rem;
}


.appointment__all__day{
    display: grid;
    grid-template-columns: 0.2fr 1fr 2fr;
    margin: 1rem;
}


input{
    width:100%;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    border-bottom:2px solid #bebed2;
    color:#0a020285;
}

input:focus{
    border-bottom:2px solid rgba(35, 165, 173, 1);
    background: transparent;


}


p:before{content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a;
    background-color: transparent;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #05294acf inset !important;
    -webkit-text-fill-color: #0a020285 !important;
}


.main__appointment__form .form__submit {
	position: relative;
		top: -5px;
	flex: 1 1 100px;
	margin: 10px;
	cursor: pointer;
	border: none;
	padding: 0.75rem;
	border-radius: 10px;
	background-color:rgba(196, 196, 196, 0.53);
	color: #FFFFFF;
	box-shadow: 0 12px 7px -5px rgba(0,0,0,0.35);
	transition: box-shadow .2s, top .2s, background-color .2s, flex-basis .2s;
    width: 50%;
}
.main__appointment__form .form__submit:hover,
.main__appointment__form .form__submit:focus {
	box-shadow: 0 0 0 0 rgba(0,0,0,0.35);
	top: 0;
}
.main__appointment__form .form__submit:focus {
	background-color: rgba(196, 196, 196, 0.53);
	outline: 0;
}

.main__appointment__form .form__cancel {
	position: relative;
		top: -5px;
	flex: 1 1 100px;
	margin: 10px;
	cursor: pointer;
	border: none;
	padding: 0.75rem;
	border-radius: 10px;
	background-color: rgba(196, 196, 196, 0.53);
	color: #FFFFFF;
	box-shadow: 0 12px 7px -5px rgba(0,0,0,0.35);
	transition: box-shadow .2s, top .2s, background-color .2s, flex-basis .2s;
    width: 90%;
}
.main__appointment__form .form__cancel:hover,
.main__appointment__form .form__cancel:focus {
	box-shadow: 0 0 0 0 rgba(0,0,0,0.35);
	top: 0;
}
.main__appointment__form .form__cancel:focus {
	background-color: rgba(196, 196, 196, 0.53);
	outline: 0;
}

.appointment__buttons{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(196, 196, 196, 0.44);
    padding-bottom: 0.3rem;
    border-radius: 0 0 1rem 1rem;
    border-top: white solid 1px;
}
a{
    width: 50%;
}

$blue: #5183f5;

@mixin typography {
	font-family: "PT Sans", sans-serif;
	letter-spacing: 1.1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $blue;
	font-weight: 600;
}

@mixin centered-layout {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.pill-container {
	& input[type="checkbox"]{
		opacity: 0;
		position: fixed;
		width: 0;
	}
	@include centered-layout;	
	display:flex;
	flex-direction: row;
	width: 80%;
	height: 3rem;
	box-sizing: border-box;
	.option-a {
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.selector:last-child {
		border-right: 2px solid $blue;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}

.selector {
	@include typography;
	display: flex;
	align-items: center;
	justify-content:center;
	flex-grow: 1;
	cursor: pointer;
	background: lighten($blue, 30%);
	border: 2px solid $blue;
	border-right: 0;
	&:hover {
		background: lighten($blue, 20%);
		color: $blue;
	}
}

.select-dropdown,
.select-dropdown * {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
    font-weight: bold;
}
.select-dropdown {
	position: relative;
	border-radius: 4px;
    outline: none;
    background: none;
    font-weight: bold;
    color: #0a020285;
}
.select-dropdown select {
	font-size: 1rem;
	font-weight: normal;
	max-width: 100%;
	padding: 8px 24px 8px 10px;
	border: none;
    
	background-color: transparent;
		-webkit-appearance: none;
		-moz-appearance: none;
	appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
	outline: none;
	box-shadow: none;
    font-weight: bold;
}
.select-dropdown:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
	margin-top: -2px;
	border-top: 5px solid #aaa;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
    background-color: none;
}



