

.appoitment{
    // display: flex;
    margin: 3rem;
    border-radius: 1rem;
    border: rgba(222, 222, 222, 1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    width: 40rem;
    height: 60rem;
    background-color: rgba(196, 196, 196, 0.24);
    color: rgba(196, 196, 196, 0.24);
    padding: 2rem;
}

.select__friend{
    width: 10rem;
}