@import "index.scss";

@media only screen and (min-width: 1194px) {
    .container_main_footer {
        margin: 0;
    }
    .main__footer {
        background-color: rgba(5, 41, 74, 1);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;
        grid-auto-rows: minmax(20px, auto);
        justify-items: center;
        color: rgba(173, 183, 206, 1);
        font-family: "Ubuntu", sans-serif;
        font-size: 1rem;
        & a {
            color: rgba(173, 183, 206, 1);
            text-decoration: none;
        }
    }

    .container_box_footer_contact,
    .container_box_footer_redes,
    .container_box_footer_github {
        margin: 0;
        & p {
            margin: 0;
            display: flex;
            align-items: center;
        }
    }

    .footer__copy {
        align-self: center;
        grid-column: 2;
        padding: 4px;
    }
    .fab {
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 1193px) {
    .main__footer {
        display: none;
    }
}

@media only screen and (max-width: 599px) {
    .main__footer {
        display: none;
    }
}
