@media only screen and (min-width: 800px){
   .container_main_form_sig_up {
       background-image: url("../img/pexels-marcus-aurelius-67879601.jpg");
       background-repeat: no-repeat;
       background-size:cover;
       width: 100%;    
       height: 100%;
       padding-top: 8rem;
       margin: auto;
       padding-left: 3rem;
   }
   
   .form__sign__up__new__user {
       width: 30.625rem;
       text-align: left;
       border: 0.063rem solid #ADB7CE;
       border-radius: 0.625rem;
       padding: 2.188rem;
       color: #0E3551;
       background-color: #ADB7CE;
       opacity: 0.7;
   }
   
   .form__sign__up__new__user header {
       width: 100%;
       color: #0E3551;
       h2 {
           padding: 0.313rem;
           font-size: 2.83rem;
       }
       span {
           font-size: 1rem;
           background-color: #FF3232;
           color: #FFFFFF;
           padding: 0.8rem ;
           border-radius: 0.188rem;
       }
   }
   
   .form__body__sign__up__new__user {
       display: grid;
       text-align: left;
       width: 100%;
       font-size: 1.25rem;
       input {
           border-width: 0px 0px 2px 0px;
           background-color: transparent;
           border-color: #9F9F9F;
           font-size: 1.25rem;
       }
       label {
           padding: 0.625rem;
       }
   }
   
   .form__body__sign__up__new__user span {
       color: #FE6847;
   }
   
   .form__footer__sign__up__new__user {
       display: grid;
       justify-content: center;
       margin-top: 0.625rem;
   
       button {
           background-color: #0E3551;
           border-radius: 0.625rem;
           width: 23.75rem;
           height: 3.125rem;
           color: #FFFFFF;
       }
   
       span {
           text-align: center;
           border: #FF0000;
       }
   }
   
   .form__body__sign__up_conditional label{
       font-size: 0.65rem;
       font-weight: 100;
   }
   
   // .form__body__sign__up_conditional,
   // .form__body__sign__up_conditional_checkbox {
   //    width: 5%;
   //    display: inline;
   // }
}

@media only screen and (max-width: 799px) { 
    .container_main_form_sig_up {
        color: #FFFFFF;
        background: linear-gradient(90deg, rgba(5,41,74,1) 59%, rgba(14,53,81,1) 91%);
        display: flex;
        justify-content: center;
        width: 100%;
        font-weight: lighter;
        padding-top: 6rem;
        height: inherit;
        
        header h2 {
          visibility: hidden;
          display: none;
        }

        header span {
           font-size: 0.8rem;
           background-color: #FF3232;
           color: #FFFFFF;
           padding: 0.8rem 4.5rem;
           border-radius: 0.188rem;
        }
    }

    .form__sign__up__new__user {
        width: 50%;
        color: #FFFFFF;
    }

    .form__body__sign__up__new__user {
        display: grid;
        text-align: left;

        input {
           padding: 0.25rem;
           background-color: #FFFFFF;
           opacity: 0.25;
           border: none;
           border-radius: 0.313rem;
       }

       input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px #05294acf inset !important;
            -webkit-text-fill-color: #FFFFFF !important;
        }

       label {
           padding: 10px;
       }
    }

    .form__footer__sign__up__new__user {
       display: grid;
       justify-content: center;
   
       button {
           background-color: #ADB7CE;
           border-radius: 0.313rem;
        //    padding: 0.25rem 10.8rem;
           color: #000000;
           font-weight: lighter;
           margin-top: 1.25rem;
       }

       span {
           text-align: right;
           align-items: center;
           font-size: 0.7rem;
           margin: 10px;
       }
    }

   .form__body__sign__up_conditional,
   .form__body__sign__up_conditional_checkbox {
       visibility: none;
       display: none;
   }
}

@media only screen and (max-width: 599px) {
     .container_main_form_sig_up {
         background: linear-gradient(90deg, rgba(5,41,74,1) 59%, rgba(14,53,81,1) 91%);
         display: flex;
         justify-content: center;
         font-weight: lighter;
         height: inherit;
            //  padding-top: 3rem;
         
        header h2 {
           visibility: hidden;
           display: none;
         }

        header {
            width: 100%;
        }
         

        header span {
            font-size: 0.64rem;
            background-color: #FF3232;
            color: #FFFFFF;
            padding: 0.2rem 0.5rem;
            border-radius: 0.188rem;
         }
     }

     .form__sign__up__new__user {
         width: 50%;
         color: #C4C4C4;
     }

     .form__body__sign__up__new__user {
         display: grid;
         text-align: left;

         input {
            padding: 0.25rem;
            background-color: #FFFFFF;
            opacity: 0.25;
            border: none;
            border-radius: 0.313rem;
        }

        label {
            padding: 10px;
        }
     }

     .form__footer__sign__up__new__user {
        display: grid;
        justify-content: center;
    
        button {
            background-color: #ADB7CE;
            border-radius: 0.313rem;
            // padding: 0.25rem 5rem;
            color: #000000;
            font-weight: lighter;
            // margin: 1.25rem;
        }

        span {
            text-align: center;
            align-items: center;
            font-size: 0.7rem;
        }
     }

    .form__body__sign__up_conditional,
    .form__body__sign__up_conditional_checkbox {
        visibility: none;
        display: none;
    }
    
 }



