@import "index.scss";

@media only screen and (min-width: 1194px) {
    .container_main_form_login {
        display: none;
    }
}

@media only screen and (max-width: 1193px) {
    .container_main_form_login {
        color: #ffffff;
        background-image: linear-gradient(to right, #517fa4 0%, #243949 100%);
        width: 100%;
        font-weight: lighter;
        font-family: lato;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .roboPhotoLogin {
        width: 25%;
        height: auto;
        margin-top: -14rem;
    }

    .already_account_container {
        display: flex;
        text-align: right;
        padding: 5px;
        font-size: 0.938rem;
        font-weight: lighter;
        align-items: center;
        flex-direction: column;
    }

    .form_login {
        display: flex;
        align-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        input {
            padding: 0.25rem;
            background-color: #ffffff;
            margin-top: 1.25rem;
            border: none;
            border-radius: 0.313rem;
            padding: 6px 20px;
            font-family: lato;
            width: 21.875rem;
        }
        button {
            border: none;
            font-size: 1.4rem;
            background-color: #fe6847;
            color: white;
            box-shadow: 5px 5px 5px #3b424d;

            border-radius: 0.313rem;
            font-weight: lighter;
            margin-top: 1.25rem;
            font-family: lato;
            width: 21.875rem;
        }
    }
}

@media only screen and (max-width: 599px) {
    .container_main_form_login {
        color: #ffffff;
        background: $main-background;
    }
}
