.habitsWidget_box_container {
    width: 20rem;
    height: 8.75rem;
    font-family: lato;
    border-radius: 0.625rem;
    background-image: linear-gradient(
        109.6deg,
        rgba(44, 83, 131, 1) 18.9%,
        rgba(95, 175, 201, 1) 91.1%
    );
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
        rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
        rgba(0, 0, 0, 0.07) 0px 16px 16px;
    opacity: 1;
    display: flex;
    align-items: stretch;
    & p {
        font-size: 1rem;
        color: #ffff;
        font-weight: lighter;
        text-align: center;
        font-family: lato;
        padding: 1rem;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        align-items: center;
    }
}
