@media only screen and (min-width: 1194px) {
}

@media only screen and (max-width: 1193px) {
    .container-home {
        background-image: url("https://www.pexels.com/photo/1595391/download/?search_query=work&tracking_id=k2nu7k9pve");
        background-repeat: no-repeat;
        background-size: cover;
        height: inherit;
        width: auto;
        opacity: 0.75;
        margin: inherit;
    }
    .container-home-opacity {
        background-color: rgb(14, 53, 81, 0.7);
        height: inherit;
        width: auto;
    }
}

@media only screen and (max-width: 599px) {
    .container-home {
        background-image: url("https://www.pexels.com/photo/1456951/download/?search_query=family&tracking_id=k2nu7k9pve");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container-home-opacity {
        background-color: rgb(14, 53, 81, 0.7);
        height: inherit;
        width: auto;
        position: relative;
    }
}
