@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Road+Rage&display=swap");
@import "index.scss";

.main__list__container {
    padding: 1rem;
}
.list__title {
    color: #ffff;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
#task {
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
    width: 17rem;
}
#task:focus {
    border-bottom: 2px solid #78788c;
}
#task::placeholder {
    color: rgba(255, 255, 255, 0.582);
}
p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
}

.list__task {
    display: grid;
    grid-template-columns: 1fr 5.3fr 1fr;
    margin-top: 0.5rem;
    background-color: #e9ecef;
    border-radius: 0.4rem;
    backdrop-filter: blur(1rem);
    padding: 0.15rem 0.5rem;
    color: black;
    align-items: center;
    width: 17rem;
    & input[type="checkbox"] {
        -webkit-appearance: none;
        outline: none;
        position: relative;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 0.1rem;
        background: none;
        border: rgba(173, 183, 206, 1) 0.15rem solid;
        transition: 3s;
        margin-right: 1rem;
    }
    & input[type="checkbox"]:checked {
        background: none;
    }
    & input[type="checkbox"]:checked:before {
        content: "";
        position: absolute;
        left: 0.5rem;
        width: 0.6rem;
        height: 1.3rem;
        bottom: 0.1rem;
        border-bottom: 5px solid #5ddaa0;
        border-right: 5px solid #5ddaa0;
        transform: rotate(45deg);
        transition: 3s;
    }
}

.list__task__checkbox {
    background-color: red;
}

.lineas {
    height: 2px;
    z-index: 1;
    position: absolute;
    width: 12rem;
    margin-top: 6.3rem;
    margin-left: 2rem;
}

.to__do__form {
    z-index: 2;
    position: absolute;
    & ul {
        list-style: none;
        padding-left: 0;
    }
}

.list__task__button {
    background: transparent;
    border: none;
}

.fa-trash-alt {
    color: hsl(11deg 80% 45%);
}
