@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Road+Rage&display=swap");
@import "index.scss";

.main__list__container {
    padding: 1rem;
}
.list__title {
    color: #05294a;
}
#task {
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
}
#task:focus {
    border-bottom: 2px solid #78788c;
}
p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
}

.list__task {
    display: grid;
    grid-template-columns: 1fr 5.3fr 1fr;
    margin-top: 0.5rem;
    background-color: rgba(196, 196, 196, 0.24);
    border-radius: 0.4rem;
    backdrop-filter: blur(1rem);
    padding: 0.15rem 0.5rem;
    color: white;
    align-items: center;
    width: 17rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

.list__task__checkbox {
    background-color: red;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    outline: none;
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.1rem;
    background: none;
    border: rgba(173, 183, 206, 1) 0.15rem solid;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
        rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
        rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: 3s;
    margin-right: 1rem;
}
input[type="checkbox"]:checked {
    background: none;
}
input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    left: 0.5rem;
    width: 0.6rem;
    height: 1.3rem;
    bottom: 0.1rem;
    border-bottom: 5px solid rgba(255, 107, 53, 1);
    border-right: 5px solid rgba(255, 107, 53, 1);
    transform: rotate(45deg);
    transition: 3s;
}

.lineas {
    height: 2px;
    z-index: 1;
    position: absolute;
    width: 12rem;
    margin-top: 6.3rem;
    margin-left: 2rem;
}

.to__do__form {
    z-index: 2;
    position: absolute;
}
hr {
    margin-top: 2.5rem;
    color: white;
}
.list__task__button {
    background: transparent;
    border: none;
}
