@media only screen and (min-width: 1194px) {
    .NavBar {
        display: none;
    }

    .NavBar_name_kronara_movil {
        display: none;
    }
}

@media only screen and (max-width: 1193px) {
    .NavBar {
        text-align: center;
        padding-top: 4rem;

        h2 {
            font-family: "Ubuntu", sans-serif;
            color: #64dfd4;
            font-size: 3.125rem;
        }
    }

    .navbar_login {
        padding-top: 2rem;
    }

    .roboPhoto {
        width: 25%;
        height: auto;
    }
}

@media only screen and (max-width: 599px) {
    .NavBar_name_kronara_movil {
        display: block;
        text-align: center;
        color: #64dfd4;
        font-size: 3.125rem;
    }

    .navbar_login {
        padding-top: 2rem;
    }
}
