@media only screen and (min-width: 1194px) {
    .NavBarLanding {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(to right, #517fa4 0%, #243949 100%);
        padding-left: 2rem;
        padding-right: 2rem;

        h2 {
            color: white;
            font-family: "Ubuntu", sans-serif;
            font-weight: lighter;
        }
    }
}

@media only screen and (max-width: 1193px) {
    .NavBarLanding {
        display: none;
    }
}
