@import "index.scss";
.weather__container {
    width: 18.75rem;
    height: 6.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    border-radius: 0.625rem;
    background-color: $widget-background;
    box-shadow: $widget-box-shadow;

    & img {
        width: 30%;
        margin: 0 -2rem 0 1rem;
    }

    & ul {
        margin: 0;
    }

    & li {
        list-style: none;
        font-size: 0.8rem;
    }
}
