@import "index.scss";
.weather__container {
    width: 18.75rem;
    height: 6.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    color: #05294a;
    border-radius: 0.625rem;
    background-color: #ffffff;
    box-shadow: $widget-box-shadow;

    & img {
        width: 30%;
    }

    & ul {
        margin: 0;
    }

    & li {
        // list-style: none;
        font-size: 0.8rem;
        display: flex;
        flex-direction: row;
    }
}
.weather__description {
    font-weight: bold;
    margin-right: 0.5rem;
}
